
body {
  background-image: url(../img/20210122_120446_resized.jpg);
  background-repeat: no-repeat;
  opacity: 90%; 
  background-size: cover;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}


